[program:cloudlaunch]
command={{ server_install_dir }}/.venv/bin/gunicorn cloudlaunch.wsgi:application --bind 127.0.0.1:8000 --pid /tmp/gunicorn.pid;
user = cloudlaunch
directory={{ server_install_dir }}/django-cloudlaunch
stdout_logfile={{ log_dir }}gunicorn_stdout.log
stdout_logfile_maxbytes=1MB
stdout_logfile_backups=2
stderr_logfile={{ log_dir }}gunicorn_stderr.log
stderr_logfile_maxbytes=1MB
stderr_logfile_backups=2
autorestart=true

[program:celeryd]
command={{ server_install_dir }}/.venv/bin/python manage.py celery -E -A cloudlaunch worker -l info --autoscale=20,2
user = cloudlaunch
directory={{ server_install_dir }}/django-cloudlaunch 
stdout_logfile={{ log_dir }}celeryd_stdout.log
stdout_logfile_maxbytes=1MB
stdout_logfile_backups=2
stderr_logfile={{ log_dir }}celeryd_stderr.log
stderr_logfile_maxbytes=1MB
stderr_logfile_backups=2
autostart=true
autorestart=true
startsecs=10
stopwaitsecs=600
