[program:cloudlaunch]
command={{ server_install_dir }}/.venv/bin/gunicorn cloudlaunchserver.wsgi:application --bind 127.0.0.1:8000 --pid /var/run/cloudlaunch/gunicorn.pid --workers 4
user={{ system_user }}
directory={{ server_install_dir }}/django-cloudlaunch
stdout_logfile={{ log_dir }}gunicorn_stdout.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=5
stderr_logfile={{ log_dir }}gunicorn_stderr.log
stderr_logfile_maxbytes=10MB
stderr_logfile_backups=5
autorestart=true

[program:celeryd]
command={{ server_install_dir }}/.venv/bin/python manage.py celery worker --app=cloudlaunchserver --beat --loglevel=INFO --autoscale=20,2  --soft-time-limit={{ task_time_limit }}
user={{ system_user }}
directory={{ server_install_dir }}/django-cloudlaunch
stdout_logfile={{ log_dir }}celeryd_stdout.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=5
stderr_logfile={{ log_dir }}celeryd_stderr.log
stderr_logfile_maxbytes=10MB
stderr_logfile_backups=5
autostart=true
autorestart=true
startsecs=10
stopwaitsecs=600
